:root{                  
    --main_color: rgb(140, 255, 105);
    --secondary_color: rgb(148, 250, 117);
    --hover_color: rgb(194, 250, 177);
}

/* GLOBAL TAGS */
p {
    font-size: 1.5rem;
}

a {
    font-size:  1.5rem;
    color: black;
    transition: all 0.5s ease-out;
}

source {
    margin-bottom: 1.0rem;
}

a:hover{
    color: rgba(0, 255, 30, 0.979);
}

/* ICON IMAGES */
.medium_img {
    padding: 10px;
    height: 150px;
    max-width: fit-content;
    transition: all 0.5s;
    background-color: var(--secondary_color);
    border-radius: 30%;
}

.medium_img:hover{
    transform: scale(1.2);
}

.round_img {
    padding: 5px 5px 5px 5px;
    height: 150px;
    transition: all 0.5s;
    border-radius: 50%;
    background-color: aliceblue;
}

.round_img:hover{
    rotate: 360deg;
}

.icon_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

/* TITLE LIKE STYLES */
#header_div {
    align-content: center;
    text-align: center;
    margin: 50px 30px;
    padding: 10px 10px;
}

/* HOVERABLE DIVS */
.color_bar{
    background-color: var(--main_color);
    transition: background-color 0.2s ease-in;
    text-align: center;
    
}

.color_bar:hover{
    background-color: var(--hover_color);
}

/* card container rounded ml-5 shadow-lg border border-primary */

.card {
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 30px;
    transition: all 0.5s;
    text-align: center;
    max-width: max-content;
    background-color: var(--secondary_color);
}

.card:hover{
    transform: scale(1.2);
}

.pill {
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 15px;
    transition: all 0.5s;
    text-align: center;
    max-width: max-content;
    background-color: var(--secondary_color);
}
.pill:hover{
    background-color: var(--hover_color);
    transform: scale(1.2);
}









